/* header section  */
.container{
    background-color: #000b23;
    display: flex; 
    height: 80px;
    align-items: center;
}
*{
    padding: 0;
    margin: 0;

}
.img{
    height:22px;
    width:22px;
}
.logo img{
    height: 80px;
    width: 80px;
    margin-left: 50px;
    margin-right: 500px;
}
nav {
    font-family: Inria Serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
    /* justify-content: space-evenly; */
}
nav a {
    text-decoration: none;
    color: #fff;
}
.option:hover{
    background: green;
    text-decoration: underline;
}

/* Carousel section */
.Carousel{
    background: url(./Clzz/danny-howe-bn-D2bCvpik-unsplash.jpg), lightgray 50% / cover no-repeat;
    height: 510px;
    background-size: contain;
}
.txt1{
    color: white;
    font-size: 68px;
    font-family: Inria Serif;
    font-weight: 700;
}
.txt2{
    color: white;
    font-size: 80px;
    font-family: Inria Serif;
    font-weight: 700;
}
.messages{
    padding-top: 100px;
    padding-left: 85px;
}
.next{
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 300px;
}
/* Create event button */
#but1{
    color: #000B23;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 28px;
    font-style: normal;
    font-family: Inria Serif;
    height:40px;
    width:200px;
    justify-content: space-evenly;
    margin-left: 730px;
    margin-top: 80px;
}
.arrow-img{
    height: 28px;
    width: 28px;
    padding-left: 5px;
    padding-right: 5px;
}
#but2{
    border-radius: 4px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.00);
    color:#FFF;
    height:40px;
    width:200px;
    font-size: 28px;
    font-style: normal;
    font-family: Inria Serif;
    margin-left: 40px;
}
/* information section */
.info{
    width: 1000px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #FFF;
    box-shadow: -2px 5px 31px 18px rgba(0, 0, 0, 0.11);
    margin-left: 120px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
    
.picture{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 15px;
}
    
.text{
    width: 144px;
    height: 37px;
    flex-shrink: 0;
    color: #000B23;
    font-family: Inria Serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.detail{
    display: flex;
    margin-top:5px;
    color: rgba(0, 0, 0, 0.41);
    font-family: Inria Serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.event-in{
    display: flex;
    margin-top:15px;
    color:#000;
}
        
.search-bar{
    width:80px;
    height:80px;
    margin-top: 5px;
}
/* Steps section */
.step-image{
    height: 100px;
    width: 90px;
    margin-top: 10px;
}
.guideline{
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
    height: 370px;

}
.steps{
    width: 270px;
    height: 290px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 23px 33px 65px -8px rgba(0, 0, 0, 0.16);
    /* justify-content: center; */
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
}
.steps > p{
    margin: 10px;
    color: rgba(30, 30, 30, 0.78);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.steps > h4{
    padding-top: 10px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
}
/* Team information section */
.team-info{
    background: #000B23;
    height: 400px;
}
.my-team{
    color: #FFF;
    text-decoration: underline;
    font-family: Inria Serif;
    font-size: 60px;
    font-weight: 400;
    /* margin-top: 120px; */
    text-align: center;
    
}
.mem-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid white;
}
.team-members{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 70px;
}
.name{
    color: #FFF;
    font-family: Inter;
    font-size: 23px;
    margin-top: 15px;
}
/* Example section */
.example{
    background-color: #FFF;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    text-align: center;
    margin-top: 40px;
}
.ex-pic{
    height: 200px;
    width: 350px;
    border-radius: 50px 0px 0px 0px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 6px 7px 9px 2px rgba(0, 0, 0, 0.25);
}
.ex1 > p{
    font-family: Inter;
    font-size: 23px;
    margin-top: 20px;
}
/* Footer panel */
.Contactus{
    background-color: #000b23;
    height: 200px;
    /* display: flex; */
}
.logo-footer{
    height: 150px;
    margin-left: 30px;
    margin-top: 20px;
}
.contact-icon{
    height: 40px;
    width: 40px;
    margin-left: 5px;
}
strong{
    text-decoration: underline;
}


.footer-part{
    display: flex;
}


.contact > p{
    /* display: flex; */
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    margin-left: 500px;
    margin-top: 5px;
}
footer{
    text-align: center;
    width: 100%;
    height: 40px;
    background: #000000B8;
}
.footer-text{
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    padding-top: 5px;
}


        
    

 




  
